**/*.iml
**/*.ipr
**/*.iws
**/*.log
**/.classpath
**/.idea/
**/.project
**/.settings
**/target/
**/*.class
**/.DS_Store
*.war
*.jar
*.zip
*.gz
data
*.retry
*.*~
# exclude everything
local-install/*

# exception to the rule
!local-install/.gitkeep